* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif; }

body {
  background-color: #00b377;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center; }
  body .calculator-container {
    width: 600px;
    height: 800px;
    border-radius: 20px;
    box-shadow: 9px 16px 0px 9px #016b48; }
    body .calculator-container .result-container {
      height: 25%;
      background-color: #323635;
      border-radius: 20px 20px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: center; }
      body .calculator-container .result-container .screen {
        width: 85%;
        height: 120px;
        background-color: #1b1a1a;
        border-radius: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        box-shadow: 0px 0px 0px 5px #016b48; }
        body .calculator-container .result-container .screen:hover .operation-container .hoverme-container {
          display: none; }
        body .calculator-container .result-container .screen:hover .operation-container .operation {
          width: 100%;
          align-items: flex-start;
          font-size: 30px;
          display: flex;
          flex-direction: column; }
          body .calculator-container .result-container .screen:hover .operation-container .operation .write {
            display: none; }
          body .calculator-container .result-container .screen:hover .operation-container .operation .resultado {
            display: inline;
            font-size: 50px;
            align-self: flex-end;
            color: #00b377; }
          body .calculator-container .result-container .screen:hover .operation-container .operation .numbers {
            align-self: flex-end;
            font-size: 30px; }
        body .calculator-container .result-container .screen .operation-container {
          width: 100%;
          height: 100%;
          font-size: 50px;
          font-weight: 600;
          display: flex; }
          body .calculator-container .result-container .screen .operation-container .hoverme-container {
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start; }
            body .calculator-container .result-container .screen .operation-container .hoverme-container .hover-me {
              font-size: 20px;
              animation-name: text-scale;
              animation-duration: 1s;
              animation-delay: 0s;
              animation-direction: alternate;
              animation-iteration-count: infinite;
              color: #00b377;
              margin-left: 10px;
              margin-top: 10px;
              background-color: #016b48; }

@keyframes text-scale {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.08); } }
          body .calculator-container .result-container .screen .operation-container .operation {
            width: 60%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-right: 10px; }
            body .calculator-container .result-container .screen .operation-container .operation .write {
              animation-name: display;
              animation-duration: 0.5s;
              animation-delay: 0s;
              animation-direction: alternate;
              animation-iteration-count: infinite;
              margin-left: 7px;
              font-size: 40px;
              color: #00b377; }
            body .calculator-container .result-container .screen .operation-container .operation .resultado {
              display: none; }
            body .calculator-container .result-container .screen .operation-container .operation .numbers {
              font-size: 50px;
              color: #00b377; }

@keyframes display {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }
    body .calculator-container .inputs-container {
      height: 70%;
      background-color: #323635;
      border-radius: 0px 0px 20px 20px;
      display: grid;
      grid-template-columns: repeat(4, 120px);
      grid-template-rows: repeat(4, 120px);
      justify-content: center;
      align-items: center;
      justify-items: center; }
      body .calculator-container .inputs-container .btn {
        width: 100px;
        height: 100px;
        border-radius: 15px;
        border: none;
        background-color: #019765;
        transition-property: background-color, transform;
        transition-duration: 0.8s;
        transition-delay: 0;
        font-size: 30px; }
        body .calculator-container .inputs-container .btn:hover {
          background-color: #00e99b;
          transform: scale(1.05); }
    body .calculator-container .projectfiles-container {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: center;
      align-items: center; }
      body .calculator-container .projectfiles-container .project-icon {
        font-size: 30px;
        margin-left: 10px;
        color: #1b1a1a; }
        body .calculator-container .projectfiles-container .project-icon:hover {
          color: #323635; }
